<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}Go-fast{% endblock %}</title>
  <link rel="stylesheet" href="/dev/assets/scss/style.scss">
  {% block head %}{% endblock %}
</head>
<body>
  {% block body %}{% endblock %}
  {% block scripts %}{% endblock %}
</body>
</html>
