// =============================================================================
// Label — Atom
// =============================================================================

@use '../base/variables' as *;

.label {
  display: inline-block;
  font-size: $font-size-sm;
  font-weight: $font-weight-medium;
  color: $color-gray-700;
  margin-bottom: $spacing-xs;

  &__required {
    color: $color-danger;
    margin-left: $spacing-xs;
    font-weight: $font-weight-bold;
  }
}
