{% set label_text    = label|default('Label') %}
{% set input_id      = id|default('field') %}
{% set type          = type|default('text') %}
{% set placeholder   = placeholder|default('') %}
{% set required      = required|default(false) %}
{% set disabled      = disabled|default(false) %}
{% set hasError      = hasError|default(false) %}
{% set errorMessage  = errorMessage|default('Ce champ est invalide.') %}

<div class="form-field{% if hasError %} form-field--error{% endif %}">
  {% include '../label/label.twig' with {
    text: label_text,
    for: input_id,
    required: required
  } %}

  {% include '../input/input.twig' with {
    id: input_id,
    type: type,
    placeholder: placeholder,
    disabled: disabled,
    hasError: hasError
  } %}

  {% if hasError %}
    <p class="form-field__error" role="alert" id="{{ input_id }}-error">
      {{ errorMessage }}
    </p>
  {% endif %}
</div>
